:root 
{
    --lighten-5: #eceff1;
    --lighten-4: #cfd8dc;
    --lighten-3: #b0bec5;
    --lighten-2: #90a4ae;
    --lighten-1: #78909c;
    --main-color: #607d8b;
    --darken-1: #546e7a;
    --darken-2: #455a64;
    --darken-3: #37474f;
    --darken-4: #263238;
}

.list-content:hover
{
    background-color: var(--lighten-4);
}

.list-content-selected
{
    border: 1px solid #cfd8dc;
    cursor: pointer;
    background-color: var(--lighten-2);
}

.list-content
{
    border: 1px solid #cfd8dc;
    cursor: pointer;
}

.login-center
{
    width: 500px;
    margin: auto;
    transform: translate(-50%, -65%);
    position: absolute;
    top: 45%;
    left: 50%;
}

.login-center-container
{
    width: 500px;
    margin: auto;
    transform: none;
    position: initial;
}

.btn-login
{
    color: var(--lighten-5) !important;
    background-color: var(--main-color);
    border: 2px solid var(--main-color) !important;
    font-weight: bold !important;
    border-radius: 10px !important;
    margin-top: 7px;
    width: 100%;
}

.error-login
{
    font-size: 12pt;
    color: #fff !important;
    border-radius: 8px;
    display: none;
    width: 100%;
    background-color: indianred;
    margin: auto;
    position: absolute;
    bottom: -45px;
    left: 0;
    text-align: center;
    padding: 5px 0px;s
}

.main-color
{
    color: var(--main-color);
}

.back-color
{
    color: var(--lighten-5);
}

.title-login
{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: var(--main-color);
}

.show
{
  display: block;
}

.hide
{
  display: none;
}


a
{
    cursor: pointer;
}

nav
{
    background-color: var(--main-color);
}

body,
.z-window-content
{
   background-color: var(--lighten-5) !important;
   height: 100%;
   overflow: hidden;
   margin: 0px !important;
   padding: 0px !important;
}

ul
{
   padding: 0px;
}

label
{
    color : var(--main-color) !important;
}

input
{
    color: var(--darken-4);
}

input:focus:not([readonly]),
textarea:focus:not([readonly])
{
    border-bottom: 1px solid var(--main-color-hover) !important;
    box-shadow: 0 1px 0 0 var(--main-color-hover) !important;
}

.input-field label
{
    color: var(--main-color) !important;
}

.btn:hover,
.btn:focus,
.btn-floating:hover
{
    background-color: var(--lighten-2);
}

.btn-floating,
.btn
{
    background-color: var(--main-color);
}

.dropdown-content
{
    background-color: var(--main-color) !important;
    color: var(--lighten-5) !important;
}

.dropdown-content:hover
{
    background-color: var(--lighten-5 ) !important;
    color: var(--main-color )!important;
}

.dropdown-content>li>a
{
    color: --lighten-5;
}

.dropdown-content li:hover,
.dropdown-content li.active,
.dropdown-content li.selected,
.dropdown-content>li>a:hover
{
    color: var(--main-color) !important;
}

.collapsible
{
    color: var(--darken-4);
}

.collapsible-body
{
    padding: 10px !important;
}

.content
{
    overflow-y: auto;
    height: calc( ~'100% - 85px' ) !important;
    margin: .5rem 0 1rem 0;
}

.list-overflow
{
    overflow-y: auto;
    height: calc( ~'100% - 135px' ) !important;
}

.list-icon
{
    width: 50pt;
    font-size: 40pt;
    padding: 0px 20px;
    color: var(--darken-4);
}

.list-title
{
    font-weight: bold;
    color: var(--darken-4);
    font-size: 14pt;
}

.list-field
{
    color:var(--darken-4);
    width: 75px;
    font-size: 10pt;
}

.list-value
{
    color: var(--darken-4);
    font-size: 10pt;
}

.list-table
{
    line-height: 0px;
    margin: 10px 0px;
}

.prefix
{
    color: var(--darken-4) !important;
}

.footer-form
{
    position: absolute;
    bottom: 10pt;
    right: 10pt;
    padding: 4px 6px;
}

.toast
{
    background-color: var(--main-color);
}

#toast-container
{
    bottom: 30pt;
    width: 20%;
    left: 40%;
    right: 40%;
    top: auto !important;
}

.backdrop
{
    background: var(--main-color) !important;
}

.invalid+label:after
{
    font-size: 0.8rem !important;
    transform: translateY(-140%) !important;
}

.input-field label:not(.label-icon).active::after
{
    transform: none !important;
}

input:focus.invalid,
input.invalid
{
    border-bottom: 1px solid #F44336 !important;
    box-shadow: 0 1px 0 0 #F44336 !important;
}
